{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<main class="d-flex col-12 bg-light justify-content-center">
    <div class="flex-column col-9 justify-content-center">
        <div class="flex-row">
            <h4 class="display-4">Базы данных для исследования свойств коннекторов</h4>
        </div>
        <div class="flex-row p-3 border-start border-5 border-primary">
            <p class="fs-6">Представляем Вашему вниманию ресурс по союзам и их аналогам в нескольких языках России.
                Задача данного ресурса – каталогизация, описание синтаксиса и семантики, а также сбор примеров на
                употребление основных союзов и схожих единиц, которые характеризуются как коннекторы (средства связи
                предикаций в составе сложного предложения). В настоящий момент мы разработали базы данных по русскому
                (Рускон), осетинскому и бежтинскому языкам. Для каждого коннектора фиксируется его часть речи, базовые
                значения и употребление, позиция в предикации (начальная, срединная и т.п.), позиция клаузы с данным
                коннектором (препозиция ко второй клаузе, постпозиция, интерпозиция), ограничения на состав коннектора
                (например, некоторые коннекторы могут присоединять частицы или определения: «по той простой причине
                что») и допустимость коррелята (например, «если… то»; «насколько… настолько»), ограничения на тип
                зависимой предикации (например, на полные финитные клаузы), возможность употребления в независимом
                предложении.</p>
        </div>
        <div class="flex-row">
            <p class="fs-3">Разработаны базы данных:
            <ul>
                <li><a href="{{url_for('units', linker='а')}}">Рускон: база коннекторов русского языка</a></li>
                <li><a href="{{url_for('oss_connectors', path='index.html')}}">База коннекторов осетинского языка</a>
                </li>
                <li><a href="{{url_for('bezhta_connectors', path='index.html')}}">База коннекторов бежтинского языка</a>
                </li>
                <li><a href="{{url_for('uralic_connectors', path='index.html')}}">Каталог темпоральных коннекторов уральских языков</a></li>
            </ul>
            </p>
            <p class="fs-6">Проект ведётся на базе ФГБУН Институт языкознания РАН при поддержке Российского научного
                фонда, грант №&nbsp;22-18-00528.</p>
        </div>
    </div>
</main>
{% endblock %}