{% extends "base.html" %}

{% block title %}Участники проекта{% endblock %}

{% block content %}
<main class="d-flex col-12 bg-light justify-content-center">
    <div class="flex-column col-9 justify-content-center">
        <div class="flex-row">
            <h4 class="display-4">Участники проекта</h4>
        </div>
        <div class="flex-row p-3">
            <h5>Разработчики базы Рускон — базы данных русских коннекторов</h5>
            <ul class="list-group">
                <li class="list-group-item">И.&nbsp;М.&nbsp;Кобозева</li>
                <li class="list-group-item">Н.&nbsp;В.&nbsp;Сердобольская</li>
                <li class="list-group-item">А.&nbsp;А.&nbsp;Данилова</li>
                <li class="list-group-item">А.&nbsp;И.&nbsp;Крюкова</li>
                <li class="list-group-item">А.&nbsp;А.&nbsp;Осипова</li>
                <li class="list-group-item">Д.&nbsp;А.&nbsp;Пилюгина</li>
            </ul>
        </div>
        <div class="flex-row p-3">
            <h5>Разработка диахронического модуля</h5>
            <ul class="list-group">
                <li class="list-group-item">Е.&nbsp;А.&nbsp;Колобродова</li>
                <li class="list-group-item">А.&nbsp;В.&nbsp;Птенцова</li>
            </ul>
        </div>
        <div class="flex-row p-3">
            <h5>Разработка базы данных</h5>
            <ul class="list-group">
                <li class="list-group-item">О.&nbsp;И.&nbsp;Беляев</li>
            </ul>
        </div>
        <div class="flex-row p-3">
            <h5>Дизайн</h5>
            <ul class="list-group">
                <li class="list-group-item">А.&nbsp;А.&nbsp;Осипова</li>
            </ul>
        </div>
        <div class="flex-row p-3">
            <h5>В разные годы в наполнении базы данных также принимали участие</h5>
            <ul class="list-group">
                <li class="list-group-item">С.&nbsp;А.&nbsp;Жафярова</li>
                <li class="list-group-item">В.&nbsp;П.&nbsp;Конюхова</li>
                <li class="list-group-item">Д.&nbsp;Г.&nbsp;Платова</li>
                <li class="list-group-item">И.&nbsp;А.&nbsp;Рабинович</li>
                <li class="list-group-item">А.&nbsp;А.&nbsp;Расюкевич</li>
                <li class="list-group-item">М.&nbsp;А.&nbsp;Рожда</li>
                <li class="list-group-item">А.&nbsp;А.&nbsp;Савко</li>
                <li class="list-group-item">Е.&nbsp;Д.&nbsp;Соловкова</li>
            </ul>
        </div>
    </div>
    </div>
</main>
{% endblock %}