{% extends "base.html" %}

{% block title %}Коннекторы{% endblock %}

{% block content %}
<!-- <div class="row h-100"> -->
<div class="d-flex flex-row">
    <div class="d-flex col-12 flex-column">
        <h4 class="display-4">Рускон — база коннекторов русского языка</h4>
        <h5><a href="#">Подробнее о базе Рускон</a></h5>
    </div>
</div>
<div class="d-flex flex-row flex-nowrap h-75">
    <div class="d-flex col-2 flex-column">
        <!-- <"/"
                    class= px-1 align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Коннекторы</span>
                </a> -->
        <!-- <aside class="border-bottom"> -->
        <!-- <form class="d-flex" role="search"> -->
        <div class="d-flex input-group">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#advancedSearch"><i
                    class="bi bi-search"></i></button>
            <input class="form-control" type="search" placeholder="Фильтр…" aria-label="Фильтр" id="filter-linkers">
        </div>
        <!-- </form> -->
        <div id="sidebar" class="list-group list-group-flush overflow-scroll">
            {% for unit in units %}
            <a href="/units/{{unit}}"
                class="lnkr btn list-group-item list-group-item-action py-3 lh-tight border border-0 {{'active' if unit == linker else 'bg-light'}}"
                aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between linker-name">
                    <strong class="mb-1">{{unit}}</strong>
                    <!-- <small>Wed</small> -->
                </div>
                <div class="col-10 mb-1 small">
                    {% for conn in units[unit] %}
                    <span class="badge rounded-pill text-bg-primary">{{conn.semfield.keyword}}</span>
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
        </div>
        <!-- </aside> -->
    </div>
    <main class="d-flex col-10 flex-column overflow-scroll">
        <!-- <p>Currently selected linker: {{linker}}</p> -->
        {% for unit in units[linker] %}
        <!-- <div class="row justify-content-center m-3"> -->
        <div class="card m-3">
            <!-- <div class="card-header"> -->
            <h5 class="card-header">
                <span class="badge rounded-pill text-bg-primary">{{unit.semfield.keyword}}
                    {% if unit.subfields|length > 0 and
                    unit.subfields|selectattr('semfield.name',"eq",unit.semfield.name)|list|length > 0%}
                    : {% for sf in unit.subfields %}
                    {{sf.name if sf.semfield == unit.semfield}}
                    {% endfor %}
                    {% endif %}
                </span>
                {% if unit.extra_semfields|length > 0 %}
                {% for sf in unit.extra_semfields %}
                <span class="badge rounded-pill text-bg-secondary">
                    {{sf.name}}
                    {% if unit.subfields|length > 0 and
                    unit.subfields|selectattr('semfield.name',"eq",sf.name)|list|length > 0%}
                    : {% for subf in unit.subfields %}
                    {{subf.name if subf.semfield == sf}}
                    {% endfor %}
                    {% endif %}
                </span>
                {% endfor %}
                {% endif %}
            </h5>
            <!-- </div> -->
            <div class="card-body">
                {% if unit.links|length > 0 and 'hyperlink' in
                unit.links|map(attribute='unitlinktype')|map(attribute='keyword')%}
                <div class="row mb-3">
                    <strong><i class="bi bi-plus-circle"></i> См. также:</strong>
                    {% for link in unit.links if link.unitlinktype.keyword == 'hyperlink'%}
                    <a href="/hello/{{link.target.linker}}">{{link.target.linker}}</a>
                    {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row mb-3 g-0">
                    <!-- <div class="row"> -->
                    <div class="col-6">
                        <label class="col-form-label">Стилистические
                            ограничения:</label>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            {{ setattr_macro(unit, 'unit', 'style') }}
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="row mb-3 g-0 align-items-center">
                    <!-- <div class="input-group"> -->
                    <div class="col-6">
                        <label class="col-form-label">Фонетические варианты:</label>
                    </div>
                    {#{% if unit.forms|length > 0 and 'phonvar' in
                    unit.forms|map(attribute='formtype')|map(attribute='keyword')%}#}
                    {% for form in unit.forms if form.formtype.keyword == 'phonvar'%}
                    <div class="col">
                        <div class="input-group">
                            <!-- <input class="form-control setattr" data-unit_id="{{unit.id}}"
                                        data-target_type="form" data-target_id="{{form.id}}" data-attr="text"
                                        value="{{form.text}}" /><button class="btn btn-primary invisible setattr"
                                        type="button" data-target_id="{{unit.id}}" data-target_type="form"
                                        data-attr="text"><i class="bi bi-check-lg"></i></button> -->
                            {{ setattr_macro(form,'form','text') }}
                            {% if edit is true %}{{ delobject_macro(form.id, 'form') }}{% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% if edit is true %}
                    <div class="col">
                        <div class="input-group">
                            {{ addform_macro(unit.id, 'phonvar') }}
                        </div>
                    </div>
                    {% endif %}
                    {#{% else %}
                    нет
                    {% endif %}#}
                    <!-- </div> -->
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-6 col-form-label">Части речи:</label>
                    <div class="col-sm-6">
                        {% for pos, items in unit.meanings|groupby("pos") %}
                        {{pos}} ({{items|map(attribute='source')|map(attribute='keyword')|unique|join(',
                        ')}}){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-6 col-form-label">Словарные значения:</label>
                    <div class="accordion accordion-preview accordion-flush" id="meanings{{unit.id}}">
                        {% for meaning in unit.meanings %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#meaning{{meaning.id}}" aria-expanded="false"
                                    aria-controls="meaning{{meaning.id}}">
                                    <div><strong>{{meaning.source.keyword}}: </strong>
                                        {{meaning.meaning}}
                                    </div>
                                </button>
                            </h2>
                            <div id="meaning{{meaning.id}}" class="accordion-collapse collapse"
                                data-bs-parent="#meanings{{unit.id}}">
                                <div class="accordion-body">
                                    <div class="input-group">
                                        <span class="input-group-text w-25">Часть речи</span>
                                        <input class="form-control" aria-label="Часть речи" readonly disabled
                                            value="{{meaning.pos}}" />
                                        <span class="input-group-text">Тип</span>
                                        <input class="form-control" aria-label="Тип" readonly disabled
                                            value="{{meaning.pos_type}}" />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text w-25">Другие части речи</span>
                                        <input class="form-control" aria-label="Другие части речи" readonly disabled
                                            value="{{meaning.other_pos}}" />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text w-25">Другие значения</span>
                                        <textarea class="form-control" aria-label="Другие значения" readonly
                                            disabled>{{meaning.other_senses}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="input-group">
                        <label for="style{{unit.id}}" class="col-sm-6 col-form-label">Семантический
                            комментарий</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="sem_comment{{unit.id}}" readonly disabled
                                value="{{unit.sem_comment}}" />
                        </div>
                    </div>
                </div>
                <hr class="border border-black" />
                <div class="row mb-3">
                    <label class="col-sm-6 col-form-label">Примеры употребления:</label>
                    {{ examples_macro(unit.examples,unit.id) }}
                </div>
                <hr />
                {{ parameters_macro(unit,unit.parameters|selectattr('semantic')) }}
                <hr class="border border-black" />
                <hr class="border border-black" />
                <h4>Синтаксические свойства</h3>
                    <div class="row">
                        <div class="col">
                            {{ parameters_macro(unit,unit.parameters|rejectattr('semantic')) }}
                        </div>
                        <div class="col">
                            {{ parameters_macro(unit,unit.textparameters, is_text=true) }}
                            <h6>Компоненты</h6>
                            {% for form in unit.forms|sort(attribute="formtype.keyword") if
                            form.formtype.keyword != 'phonvar' %}
                            <!-- <div class="row"> -->
                            <div class="card">
                                <div class="card-header">
                                    {{form.formtype.name|capitalize()}}
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Форма:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control textForm" data-form_id="{{form.id}}" {% if edit
                                                is false %}readonly disabled{% endif %} value="{{form.text}}" />
                                        </div>
                                    </div>
                                    {{ parameters_macro(form, form.parameters, class="form") if
                                    form.parameters|length() > 0}}
                                    {{ parameters_macro(form, form.textparameters, class="form",
                                    is_text=true) if form.textparameters|length() > 0}}
                                </div>
                            </div>
                            <!-- </div> -->
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
        <!-- </div> -->
        {% endfor %}
    </main>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="updateToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Данные обновлены.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

{% if edit is true %}
<div class="modal fade" id="addExample" tabindex="-1" aria-labelledby="addExampleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addExampleLabel">Добавить пример</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <!-- <div class="table-responsive"> -->
                <table class="table" id="exampleTable">
                    <thead>
                        <tr>
                            <th scope="col">Текст</th>
                            <th scope="col">Коннекторы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for example in examples %}
                        <tr>
                            <td>{{example.text}}</td>
                            <td>
                                {% for u in example.get_related_units() %}
                                {{u.linker}}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" id="advancedSearch" tabindex="-1" aria-labelledby="advancedSearchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="advancedSearchLabel">Расширенный поиск</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card bg-light">
                            <div class="row justify-content-center">
                                <div class="col-4 gap-1">
                                    <div class="row g-3 p-1 align-items-center">
                                        <div class="col-4">
                                            <input class="form-check-input toggleSearch" data-toggle="search-pos"
                                                type="checkbox">
                                            <label class="form-check-label"><strong>Часть речи:</strong></label>
                                        </div>
                                        <div class="col-8">
                                            <select id="search-pos" class="form-select form-select-sm searchData"
                                                disabled multiple size="3">
                                                {% for pos in pos_list %}
                                                <option val="{{pos}}">{{pos}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row g-3 p-1 align-items-center">
                                        <div class="col-4">
                                            <input class="form-check-input toggleSearch" data-toggle="search-dict"
                                                type="checkbox">
                                            <label class="form-check-label"><strong>Словарь:</strong></label>
                                        </div>
                                        <div class="col-8">
                                            <select id="search-dict" class="form-select form-select-sm searchData"
                                                disabled multiple size="3">
                                                {% for source in sources %}
                                                <option val="{{source.id}}">{{source.biblio}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row g-3 p-1 align-items-center">
                                        <div class="col-4">
                                            <input class="form-check-input toggleSearch" data-toggle="search-meaning"
                                                type="checkbox">
                                            <label class="form-check-label"><strong>Значение:</strong></label>
                                        </div>
                                        <div class="col-8">
                                            <input id="search-meaning" type="text" class="form-control searchData"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 gap-1 align-self-center">
                                    <div class="row g-3 p-1 align-items-center">
                                        <div class="col-1"><input class="form-check-input toggleSearch"
                                                data-toggle="search-conn" type="checkbox"></div>
                                        <div class="col-11"><input id="search-conn" type="text"
                                                class="form-control searchData"
                                                placeholder="Коннектор или часть коннектора" disabled></div>
                                    </div>
                                </div>
                                <div class="col-3 gap-1 align-self-center">
                                    <div class="row g-3 p-1 align-items-center">
                                        <div class="col-1"><input class="form-check-input toggleSearch"
                                                data-toggle="search-correl" type="checkbox"></div>
                                        <div class="col-11"><input id="search-correl" type="text"
                                                class="form-control searchData" placeholder="Квази-коррелят" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card bg-light mt-3">
                            SANCTIFICATUR NOMEN TUUM, ADVENIAT REGNUM TUUM
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="searchButton" type="button" class="btn btn-primary">Искать</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}