@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";


$primary: #126262;
$secondary: #ADC355;
$light: #FFFCF6;
$dark: #f8f3e8;
$border-color: $primary;
$headings-color: #220F49;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark
));


@import "../bootstrap/scss/bootstrap";
